/* Legend */
.legend {
  margin: 20px 0;
  list-style: none;
  padding: 0;
}
.legend-btn {
  display: inline-block;
  margin: 0 20px 0 0;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.legend-btn:hover.legend-btn.inactive:hover  {
  opacity: 0.7;
}
.legend-btn.inactive {
  opacity: 0.5;
}
.legend-symbol {
  width: 12px;
  height: 12px;
  margin-right: 3px;
  display: inline-block;
}
/* NOTE: Make sure these colors match the globals declared in the 'globals.js' script */
.legend-btn[urban_rural_status="Rural"] .legend-symbol {
  background: #B3E5FC;
}
.legend-btn[urban_rural_status="Suburban"] .legend-symbol {
  background: #4FC3F7;
}
.legend-btn[urban_rural_status="Small City"] .legend-symbol {
  background: #03A9F4;
}
.legend-btn[urban_rural_status="Urban"] .legend-symbol {
  background: #0288D1;
}